<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div th:object="${user}">
    <h1>Edit Profile</h1>
    <form enctype="multipart/form-data" th:action="@{/user/edit}" th:method="post">
        <input th:field="*{id}" type="hidden">
        <label for="firstName">First Name:</label>
        <input id="firstName" th:field="*{firstName}" type="text">
        <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span><br>

        <label for="lastName">Last Name:</label>
        <input id="lastName" th:field="*{lastName}" type="text">
        <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span><br>

        <label for="email">Email:</label>
        <input id="email" th:field="*{email}" type="email">
        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span><br>

        <label for="username">Username:</label>
        <input id="username" th:field="*{username}" type="text">
        <span th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></span><br>

        <label for="password">Password:</label>
        <input id="password" th:field="*{password}" type="password">
        <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span><br>

        <!-- Additional Fields -->
        <label for="bio">Bio:</label>
        <textarea id="bio" th:field="*{bio}"></textarea>
        <span th:errors="*{bio}" th:if="${#fields.hasErrors('bio')}"></span><br>

        <label for="website">Website:</label>
        <input id="website" th:field="*{website}" type="text">
        <span th:errors="*{website}" th:if="${#fields.hasErrors('website')}"></span><br>

        <label for="dateOfBirth">Date of Birth:</label>
        <input id="dateOfBirth" th:field="*{dateOfBirth}" type="date">
        <span th:errors="*{dateOfBirth}" th:if="${#fields.hasErrors('dateOfBirth')}"></span><br>

        <!-- Current Profile Image -->
        <label for="currentImage">Current Profile Image:</label><br>
        <img alt="Profile picture" height="100" id="currentImage" th:src="@{/user/image/{id}(id=${user.id})}"
             width="100"><br>

        <!-- Image Upload -->
        <label for="image">Upload Image:</label><br>
        <input id="image" name="imageFile" th:field="*{imageFile}" type="file"><br>
        <p th:errors="*{imageFile}" th:if="${#fields.hasErrors('imageFile')}"></p>

        <button type="submit">Update Profile</button>
    </form>
</div>

</body>
</html>
