<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment File</title>
</head>
<body>
<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/posts}">Posts Management</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}">Users Management</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/post/create}">Create Post</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/user}">Profile</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            <li>
                <form method="get" th:action="@{/search}">
                    <label>
                        <input name="query" type="text">
                    </label>
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<footer th:fragment="footer">
    <!-- Footer content goes here -->
    <p>Copyright © 2024</p>
</footer>
</body>
</html>
